@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body { 
    background-color: #919191;
}

p { 
    font-size: 60px;
    color: crimson;
    background-color: cyan;
    width: 100px;
    height: 100px;
}
